<p tabindex="-1" class="visually-hidden navigation-info js-navigationInfo" aria-hidden="true">
  You have navigated to {% if template == 'index' %}the home page{% else %}"{{ page_title }}"{% endif %}
</p>
