<div class="account__login js-accountLogin">
  <section
    aria-labelledby="login-form-sign-in"
    class="account__form account__form--crossfade js-crossfade"
  >
    <ul class="account__nav">
      <li><a href="/account/login" class="is-current" id="login-form-sign-in">Sign In</a></li>
      <li><a href="/account/register">Create an Account</a></li>
    </ul>
    {% include 'form-login' %}
    <a href="#" class="account__link js-crossfadeToggle">
      Forgot Password?
    </a>
  </section>
  <section
    aria-hidden="true"
    aria-labelledby="login-form-forgot-password"
    class="account__form account__form--crossfade js-crossfade"
  >
    <h4 class="account__login__heading" id="login-form-forgot-password" tabindex="-1">
      Forgot your password?<br />
      Enter your email below!
    </h4>
    <div class="account__info">
      We’ll send you a link to reset your password.
    </div>
    {% include 'form-recover-password' %}
    <a href="#" class="account__link js-crossfadeToggle">
      Back to Login
    </a>
  </section>
</div>
