<div class="account__register account__form js-accountRegister">
  <ul class="account__nav">
    <li><a href="/account/login">Sign In</a></li>
    <li><a href="/account/register" class="is-current">Create an Account</a></li>
  </ul>
  <div class="account__info">
    Create an account to view your order history.
  </div>
  {% include 'form-register' %}
  <div class="account__caption">
    Already have an account?
  </div>
  <a href="/account/login" class="account__link">
    Back to Login
  </a>
</div>
