<nav class="account__nav__wrap" aria-label="Account navigation">
  <ul class="account__nav">
    <li><a href="/account">My orders</a></li>
    <li><a href="/account/addresses">My addresses</a></li>
    <li class="account__sign-out"><a href="/account/logout">Sign out</a></li>
  </ul>
</nav>
