<div class="breadcrumbs">
  <a href="/">Home</a>
  {% if collection.title != 'Shop All' %}
    <span class="separator">
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.167835 0.590386C0.114634 0.618964 0.0724244 0.652914 0.0436244 0.690292C0.0148244 0.727669 0 0.767739 0 0.808206C0 0.848674 0.0148244 0.888744 0.0436244 0.926121C0.0724244 0.963498 0.114634 0.997448 0.167835 1.02603L6.6199 4.50008L0.167835 7.97413C0.0605636 8.0319 0.000299454 8.11026 0.000299454 8.19196C0.000299454 8.27365 0.0605636 8.35201 0.167835 8.40978C0.275107 8.46755 0.420599 8.5 0.572303 8.5C0.724009 8.5 0.8695 8.46755 0.976772 8.40978L7.83216 4.7179C7.88537 4.68932 7.92758 4.65537 7.95638 4.618C7.98518 4.58062 8 4.54055 8 4.50008C8 4.45961 7.98518 4.41954 7.95638 4.38217C7.92758 4.34479 7.88537 4.31084 7.83216 4.28226L0.976772 0.590386C0.923705 0.561735 0.860662 0.539003 0.791257 0.523493C0.721851 0.507984 0.647447 0.5 0.572303 0.5C0.49716 0.5 0.422755 0.507984 0.35335 0.523493C0.283945 0.539003 0.220902 0.561735 0.167835 0.590386Z" fill="black"/>
      </svg>
    </span>
    <a href="/collections/shop-all">Shop All</a>
  {% endif %}
  <span class="separator">
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.167835 0.590386C0.114634 0.618964 0.0724244 0.652914 0.0436244 0.690292C0.0148244 0.727669 0 0.767739 0 0.808206C0 0.848674 0.0148244 0.888744 0.0436244 0.926121C0.0724244 0.963498 0.114634 0.997448 0.167835 1.02603L6.6199 4.50008L0.167835 7.97413C0.0605636 8.0319 0.000299454 8.11026 0.000299454 8.19196C0.000299454 8.27365 0.0605636 8.35201 0.167835 8.40978C0.275107 8.46755 0.420599 8.5 0.572303 8.5C0.724009 8.5 0.8695 8.46755 0.976772 8.40978L7.83216 4.7179C7.88537 4.68932 7.92758 4.65537 7.95638 4.618C7.98518 4.58062 8 4.54055 8 4.50008C8 4.45961 7.98518 4.41954 7.95638 4.38217C7.92758 4.34479 7.88537 4.31084 7.83216 4.28226L0.976772 0.590386C0.923705 0.561735 0.860662 0.539003 0.791257 0.523493C0.721851 0.507984 0.647447 0.5 0.572303 0.5C0.49716 0.5 0.422755 0.507984 0.35335 0.523493C0.283945 0.539003 0.220902 0.561735 0.167835 0.590386Z" fill="black"/>
    </svg>
  </span>
  {% if collection.metafields.custom.collection_title != blank %}
    <span>{{ collection.metafields.custom.collection_title }}</span>
  {% else %}
    <span>{{ collection.title }}</span>
  {% endif %}
</div>
