<div class="utility" data-view="utility">
  <div class="utility__cols">
    <div class="utility__col">
      <h1>{{ title }}</h1>
      <div class="utility__intro text-underline">
        {{ intro }}
      </div>
    </div>
    <div class="utility__col">
      {{ content }}
    </div>
  </div>
</div>
