
<div class="form__recover js-formValidation">
{% form 'recover_customer_password' %}
  <div class="form">
    <div class="form__errors js-loginRecoverErrors">{{ form.errors | default_errors }}</div>
    <div class="form__cell">
      <label for="reset-email">Email Address</label>
      <input
        autocapitalize="off"
        autocomplete="off"
        id="reset-email"
        name="email"
        placeholder="Email Address"
        required
        spellcheck="false"
        type="email"
        />
      </div>
      <div class="form__cell form__cell--spaced">
        <button type="submit" class="button">Submit</button>
      </div>
  </div>
{% endform %}
</div>
