<div class="jrb02-V1-perfect-match-quiz">
  <div class="jrb02-V1-perfect-match-quiz__image">
    <img
      src="https://cdn.shopify.com/s/files/1/0424/9527/9254/files/JRB02-perfect-match-tiny.png?v=1750769128"
      alt="Perfect Match Shades"
      width="100"
      height="100"
      loading="lazy"
    >
  </div>
  <div class="jrb02-V1-perfect-match-quiz__content">
    <h3 class="jrb02-V1-perfect-match-quiz__title">FIND YOUR PERFECT MATCH</h3>
    <a href="/pages/quiz-landing" class="jrb02-V1-perfect-match-quiz__button">TAKE A QUIZ</a>
  </div>
</div>

<style>
  .jrb02-V1-perfect-match-quiz {
    display: none;
    align-items: center;
    padding: 12px 6px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .jrb02-V1-perfect-match-quiz__image {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jrb02-V1-perfect-match-quiz__image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }

  .jrb02-V1-perfect-match-quiz__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .jrb02-V1-perfect-match-quiz__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    word-break: break-word;
    width: 100%;
    text-align: center;
    font-family: 'GeogrotesqueCondBoldWeb';
  }

  .jrb02-V1-perfect-match-quiz__button {
    display: inline-block;
    background: #111;
    font-family: BaseMonoWideWeb, Courier, Courier New, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 12px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.2s;
  }

  .jrb02-V1-perfect-match-quiz__button:hover {
    background: #333;
  }

  @media (max-width: 787px) {
    .jrb02-V1-perfect-match-quiz {
     display: flex;
    }
  }
</style>
