<div class="section--pdq-product-promise">
  <style>
    .section--pdq-product-promise {
      font-family: BaseMonoWideWeb;
      font-size: 12px;
      border-radius: 3px;
    }

    .chpJZx, .ZwJa-D, .dlcCSQ {
      font-family: BaseMonoWideWeb;
      font-size: 12px;
      border-radius: 3px;
    }
  </style>
  <PDQProductPromise></PDQProductPromise>
</div>
