<div class="split">
  {% include 'split-half', 
      ctaLink: leftCtaLink,
      ctaText: leftCtaText,
      image: leftImage,
      imageAlt: leftImageAlt,
      text: leftText,
      textColor: leftTextColor,
  %}
  {% include 'split-half', 
      ctaLink: rightCtaLink,
      ctaText: rightCtaText,
      image: rightImage,
      imageAlt: rightImageAlt,
      text: rightText,
      textColor: rightTextColor,
  %}
</div>
