<div class="account" data-view="account">
  <div class="account__content js-scroll">
    {% include 'account-nav' %}
    {% include 'account-order' %}
    {% include 'account-footer',
      customer: customer,
    %}
  </div>
</div>
