@font-face {
	font-family: "BaseMonoWideWeb";
	src: url("base-mono-wide-thin.static.woff2") format("woff2"), url("base-mono-wide-thin.static.woff") format("woff");
}

@font-face {
	font-family: "GeogrotesqueCondBoldWeb";
	src: url("geogrotesque-cond-bold.static.woff2") format("woff2"),
		url("geogrotesque-cond-bold.static.woff") format("woff");
}

@font-face {
	font-family: "RingsideWideWeb";
	src: url("ringside-wide-book.static.woff2") format("woff2"), url("ringside-wide-book.static.woff") format("woff");
}

@font-face {
	font-family: "RingsideWideWeb";
	font-style: italic;
	src: url("ringside-wide-book-italic.static.woff2") format("woff2"),
		url("ringside-wide-book-italic.static.woff") format("woff");
}

@font-face {
	font-family: "FontSpringArticulateDemibold";
	font-style: normal;
	src: url("fontspring-articulate-demibold.static.otf") format("otf");
}

@font-face {
	font-family: "Canela";
	font-style: normal;
	font-weight: 300;
	src: url("canela-light.static.eot"); /* IE9 Compat Modes */
	src: 
		url("canela-light.static.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("canela-light.static.woff2") format("woff2"), /* Super Modern Browsers */
		url("canela-light.static.woff") format("woff"), /* Pretty Modern Browsers */
		url("canela-light.static.svg#canelaLight") format("svg"); /* Legacy iOS */
}

@font-face {
	font-family: "Canela";
	font-style: italic;
	font-weight: 300;
	src: url("canela-light-italic.static.eot"); /* IE9 Compat Modes */
	src: 
		url("canela-light-italic.static.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("canela-light-italic.static.woff2") format("woff2"), /* Super Modern Browsers */
		url("canela-light-italic.static.woff") format("woff"), /* Pretty Modern Browsers */
		url("canela-light-italic.static.svg#canelaLightItalic") format("svg"); /* Legacy iOS */
}

@font-face {
	font-family: "FontSpringArticulateDemibold";
	font-style: normal;
	src: url("fontspring-articulate-demibold.static.otf") format("otf");
}

@font-face {
	font-family: "Canela";
	font-style: normal;
	font-weight: 200;
	src: url("canela-thin.static.eot"); /* IE9 Compat Modes */
	src: 
		url("canela-thin.static.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("canela-thin.static.woff2") format("woff2"), /* Super Modern Browsers */
		url("canela-thin.static.woff") format("woff"), /* Pretty Modern Browsers */
		url("canela-thin.static.svg#canelaThin") format("svg"); /* Legacy iOS */
}

@font-face {
	font-family: "Canela";
	font-style: italic;
	font-weight: 200;
	src: url("canela-thin-italic.static.eot"); /* IE9 Compat Modes */
	src: 
		url("canela-thin-italic.static.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("canela-thin-italic.static.woff2") format("woff2"), /* Super Modern Browsers */
		url("canela-thin-italic.static.woff") format("woff"), /* Pretty Modern Browsers */
		url("canela-thin-italic.static.svg#canelaThinItalic") format("svg"); /* Legacy iOS */
}
@font-face {
	font-family: "ArticulatCF";
	src: url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "ArticulatCF";
	src: url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@import url("https://p.typekit.net/p.css?s=1&k=ewk3whu&ht=tk&f=49645.49648.49651.51647.51652.49654.51655&a=113377802&app=typekit&e=css");

@font-face {
	font-family:"articulat-cf";
	src:url("https://use.typekit.net/af/f0682a/000000000000000077524f4b/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/f0682a/000000000000000077524f4b/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/f0682a/000000000000000077524f4b/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;font-display: swap;
}
	
@font-face {
	font-family:"articulat-cf";
	src:url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2c0cee/000000000000000077524f49/31/a?subset_id=2&fvd=n4&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:400;
	font-stretch:normal;
	font-display: swap;
}
	
@font-face {
	font-family:"articulat-cf";
	src:url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/df7eab/000000000000000077524f45/31/a?subset_id=2&fvd=n7&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;font-display: swap;
}
	
@font-face {
	font-family:"articulat-cf";
	src:url("https://use.typekit.net/af/eb68ab/000000000000000077524f46/31/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb68ab/000000000000000077524f46/31/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb68ab/000000000000000077524f46/31/a?subset_id=2&fvd=i7&v=3") format("opentype");
	font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;font-display: swap;
}
	
@font-face {
	font-family:"articulat-cf";
	src:url("https://use.typekit.net/af/cd85a9/000000000000000077524f47/31/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cd85a9/000000000000000077524f47/31/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cd85a9/000000000000000077524f47/31/a?subset_id=2&fvd=i4&v=3") format("opentype");
	font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;font-display: swap;
}
	
@font-face {
	font-family:"articulat-heavy-cf";
	src:url("https://use.typekit.net/af/768025/000000000000000077524f4a/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/768025/000000000000000077524f4a/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/768025/000000000000000077524f4a/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;font-display: swap;
}
	
@font-face {
	font-family:"articulat-heavy-cf";
	src:url("https://use.typekit.net/af/b5ab6b/000000000000000077524f41/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/b5ab6b/000000000000000077524f41/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/b5ab6b/000000000000000077524f41/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
	font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;font-display: swap;
}
