<div class="page page--embed" data-view="page">
  {{ page.content }}
</div>

<style>
  @media only screen and (min-width: 768px) {
    [data-element="oct-quiz-resultWrapper oct-quiz-media"] {
      max-width: calc((200px * 4) + 20px) !important;
    }
  }
</style>