<div class="pdp pdp--giftcard" data-view="pdpGiftcard">
  {% include "giftcard-top", 
    product: product,
  %}
  {% section 'product-content' %}
{% render 'junip-product-review', product: product %}
</div>
